.back-button{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) ;
    padding: 6px 24px;
    border-radius: 5px;
}
.country-details{
    display: flex;
    align-items: center;
    gap: 64px;
    margin-top: 64px;
}
.country-details img{
    width: 42%;
}
.details-text{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 64px;
    max-height: 180px;
    flex-wrap: wrap;
}
.details-text p {
    margin: 0;
}
.border-countries{
    margin-top: 48px;
}
.border-countries a {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) ;
    padding: 6px 16px;
    border-radius: 5px;
    margin-inline: 5px;
    font-size: 14px;
}
@media(max-width:840px){
    .country-details{
        flex-direction: column;
        align-items: start;
        margin-top: 32px;
        gap: 16px;
    }
    .country-details img{
        width:90%;
    }
    .details-text{
        display: block;
        max-height: unset;
    }
   
}