body {
  background-color: rgb(235 255 223);
  /* font-family: "Big Shoulders Display", cursive;
  font-family: "Bona Nova", serif;
  font-family: "Outfit", sans-serif; */
  font-family: "Poppins", sans-serif;
}
.title {
  font-size: 4rem;
  color: rgb(3, 66, 3);
  text-align: center;
}

.title span {
  color: rgb(230, 17, 17);
}

.app-container {
  background-color: #ffffffa4;
  max-width: 660px;
  margin-inline: auto;
  border-radius: 15px;
  padding: 32px 48px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
}

.subtitle{
  
}
