*{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
     /* display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem; */
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 1rem;
}
.card{
    max-width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.929);
}

.name{
    font-size: 12px;
}
.mail{
    font-size: 10px;
    padding: 1rem;
}