*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: #e5ff74;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
#cart{
    color: #fff;
    display: flex;
    justify-content: right;
    font-size: 24px;
    margin-top: -25px;
    position: relative;
    left: -20px;
    z-index: 999;
    cursor: pointer;
}
.navBar{
    background-color: #8e1aa0;
    padding: 15px 10px;
}
.navMenu{
    display: flex;
    padding: 3px 10px;
    list-style: none;
    justify-content: start;
    gap: 2.3rem;
}
.navMenu li{
    font-size: 18px;
    font-weight: 900;
}
.menHead{
    margin-top: 1rem;
    background-color: rgb(221 20 46);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
}
.men-part1{
    width: 42%;
    border: 1px solid #fff;
    border-radius: 1.2rem;
    padding: 5px 10px;
    background-color: rgb(235, 16, 59);
    color: #fff;
}
.men-part2{
    width: 42%;
    border: 1px solid #fff;
    border-radius: 1.2rem;
    padding: 5px 10px;
    background-color: rgb(235, 16, 59);
    color: #fff;
}
.mens-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2.3rem;
}
.men-part1Img{
    width: 56%;
    padding: 3px 6px;
    display: flex;
}
.men-part2Img{
    width: 56%;
    padding: 3px 6px;
    display: flex;
}
.men-part1Desc{
    font-weight: 600;
    font-size: 14px;
}
.men-part2Desc{
    font-weight: 600;
    font-size: 14px;
}
.men-part1Title{
    font-weight: 500;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.men-part2Title{
    font-weight: 500;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.men-Part1Price{
    font-weight: 900;
    font-size: 24px;
}
.men-Part2Price{
    font-weight: 900;
    font-size: 24px;
}
.men-part1Btn{
    padding: 10px 50px;
    font-size: 14px;
    font-weight: 900;
    background-color: #00c81c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1.2rem;
}
.men-part2Btn{
    padding: 10px 50px;
    font-size: 14px;
    font-weight: 900;
    background-color: #00c81c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1.2rem;
    margin-top: 2rem;
}

.humburger-icon{
    display: flex;
    justify-content: end;
    margin-top: -20px;
   
}
.humbugerIconBar{
    display: none;
}
.humbuger-menu{
    /* display: flex;
    flex-direction: row-reverse; */
    transition: right 0.25s ease-in-out;
}
.humburgerList{
    list-style: none;
   
    background: #bf9d01;
    color: #ffff;
    padding: 1rem;
}
.humburgerList li{
    font-size: 18px;
    padding: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}
.humbugerIconBar{
    display: none;
    cursor: pointer;
}
.humbergerFullMenu{
    display: none;
}
.cartNumber{
    padding-left: 5px;
}


@media(max-width:720px){
    .mens-container{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .men-part1{
        width: 70%;
    }
    .men-part2{
        width: 70%;
    }
    .navMenu{
        display: none;
    }
    #cart{
        margin-top: 0px;
    }
    .humbugerIconBar{
        display: block;
    }
   
}
@media(max-width:330px){
    .men-part1Btn{
        padding: 10px 20px;
    }
    .men-part2Btn{
        padding: 10px 20px;
    }
    
}