*{
    box-sizing: border-box;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px 32px;
}
body.dark{
    background-color: #27292d;
    color: #fff;
}
h1{
    margin-bottom: 48px;
}
.container{
    border: 5px solid rgb(3, 62, 3);
    padding: 32px;
    margin-top: 16px;
    background-color: #fff;
    color: #27292d;
}
.container.dark{
    background-color: #27292d;
    color: #fff;
}